import os

# Bot's username
USERNAME = "@bot:matrix.org"  

# Bot's password
PASSWORD = "APhraseThatIsAlmostButNotQuiteEntirelyUnlikeAPassword" 

# Matrix server URL
SERVER = "https://matrix.org"

# Room ID's (not names or aliases!) to automatically join, if not already.
ROOMS = None

# Bot's profile settings
DISPLAYNAME = "Matrix Bot"
AVATAR = os.path.abspath("avatar.png")

#
# Optional handler settings
#

# Dance Handler -- if commented out, an emote is sent instead.
# DANCE = os.path.abspath("dance.gif")